<form nz-form #validateForm="ngForm" *ngIf="indicator">
    <nz-card [nzBordered]="false" nzTitle="检查指标详情">
        <div nz-row>
            <div nz-col [nzSpan]="16">
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>检查指标</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <input nz-input name="title" maxlength="100" #title="ngModel" [(ngModel)]="indicator.title"
                            [placeholder]="'请填写检查指标'" required>
                        <nz-form-explain *ngIf="title.control.dirty&&title.control.errors">
                            <ng-container *ngIf="title.control.hasError('required')">请填写检查指标</ng-container>
                            <ng-container *ngIf="title.control.hasError('maxlength')">字符长度小于等于200</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>指标释义</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <textarea nz-input rows="4" name="paraphrase" #paraphrase="ngModel" maxlength="2000"
                            [(ngModel)]="indicator.paraphrase" [placeholder]="'请填写指标释义'" required></textarea>
                        <nz-form-explain *ngIf="paraphrase.control.dirty&&paraphrase.control.errors">
                            <ng-container *ngIf="paraphrase.control.hasError('required')">请填写指标释义</ng-container>
                            <ng-container *ngIf="paraphrase.control.hasError('maxlength')">字符长度小于等于2000</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>测量方式</nz-form-label>
                    <nz-form-control [nzSm]="20" nzHasFeedback>
                        <textarea nz-input rows="4" name="measuringWay" #measuringWay="ngModel" maxlength="2000"
                            [(ngModel)]="indicator.measuringWay" [placeholder]="'请填写指标释义'" required></textarea>
                        <nz-form-explain *ngIf="measuringWay.control.dirty&&measuringWay.control.errors">
                            <ng-container *ngIf="measuringWay.control.hasError('required')">请填写测量方式</ng-container>
                            <ng-container *ngIf="measuringWay.control.hasError('maxlength')">字符长度小于等于2000</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>达成条件</nz-form-label>
                    <nz-form-control [nzSm]="20">
                        <nz-radio-group name="achieveType" #achieveType="ngModel" [(ngModel)]="indicator.achieveType">
                            <label nz-radio *ngFor="let item of achieveTypes"
                                [nzValue]="item.value">{{item.text}}</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>预期值</nz-form-label>
                    <nz-form-control [nzSm]="4">
                        <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                            <input nzSearch nz-input name="expectedValue" #expectedValue="ngModel"
                                [(ngModel)]="indicator.expectedValue" [placeholder]="'请填写预期值'"
                                pattern="^(0|[1-9][0-9]*)(\.[0-9]*)?$" required>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="primary" disabled nzSearch>%</button>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="expectedValue.control.dirty&&expectedValue.control.errors">
                            <ng-container *ngIf="expectedValue.control.hasError('required')">请填写预期值</ng-container>
                            <ng-container *ngIf="expectedValue.control.hasError('pattern')">请输入正确的格式</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>检查周期</nz-form-label>
                    <nz-form-control [nzSm]="20">
                        <nz-radio-group #cycleTimeRadio="ngModel" [(ngModel)]="cycleTime"
                            (ngModelChange)="cycleTimeRadioChange($event)" [ngModelOptions]="{standalone: true}">
                            <label nz-radio nzValue="1">年度</label>
                            <label nz-radio nzValue="2">季度</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired>考核部门</nz-form-label>
                    <nz-form-control [nzSm]="20">
                        <div>
                            <nz-tag *ngFor="let dept of deptTags; let i = index;" [nzColor]="'blue'"
                                [nzMode]="'closeable'" (nzAfterClose)="handleDeptClose(dept)">
                                {{ dept.name }}
                            </nz-tag>
                            <nz-tag class="editable-tag" [nzColor]="'#108ee9'" (click)="showDeptModel()">
                                <i class="anticon anticon-plus"></i> 选择部门
                            </nz-tag>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <target-list #targetList></target-list>
        <footer-toolbar errorCollect>
            <button nz-button [nzType]="'default'" (click)="return()">
                返回
            </button>
            <button *ngIf="!indicator.id" nz-button (click)="save()" [nzType]="'primary'" type="button"
                [disabled]="!validateForm.valid || saving">
                发布
            </button>
        </footer-toolbar>
    </nz-card>
</form>