<div class="padding-bottom-45">
    <h3 style="text-align: center;">
        <span>部门和人员选择({{deptName}})</span>
    </h3>
    <!-- <div nz-row>
        <div nz-col nzSpan="20" style="margin-top:20px;margin-bottom:20px;">
            <nz-input-group nzSearch [nzSuffix]="suffixButton">
                <input type="text" [(ngModel)]="keyWord" nz-input placeholder="姓名、电话号码">
            </nz-input-group>
            <ng-template #suffixButton>
                <button nz-button nzType="default" [nzLoading]="isTableLoading" (click)="refreshData(true)"
                    nzSearch>搜索</button>
            </ng-template>
        </div>
    </div> -->
    <div nz-row>
        <div nz-col nzSpan="3">
            已选择：
        </div>
        <div nz-col nzSpan="21">
            <nz-tag *ngFor="let dept of selectedDepts; let i = index;" [nzColor]="'blue'" [nzMode]="'closeable'"
                (nzAfterClose)="handleDeptClose(dept)">
                {{ dept.name }}
            </nz-tag>
            <nz-tag *ngFor="let user of selectedUsers; let i = index;" [nzMode]="'closeable'"
                (nzAfterClose)="handleUserClose(user)">
                {{ user.name }}
            </nz-tag>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <div>
                <nz-tree #treeCom [nzCheckable]="true" [nzData]="nodes" [nzShowExpand]="true"
                    [nzCheckedKeys]="checkedDeptKeys" [nzCheckStrictly]="true"
                    (nzCheckBoxChange)="checkBoxChange($event)">
                </nz-tree>
            </div>
        </div>
        <div nz-col nzSpan="12">
            <nz-table #nzTable [nzShowPagination]="false" [nzFrontPagination]="false" [nzLoading]="isTableLoading"
                [nzData]="dataList" [nzScroll]="{ y: '720px' }">
                <thead>
                    <tr>
                        <th nzWidth="50px"></th>
                        <th nzWidth="150px">姓名</th>
                        <th nzWidth="150px">职位</th>
                        <th nzWidth="150px">电话号码</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of nzTable.data">
                        <td style="text-align: right;">
                            <label nz-checkbox [(ngModel)]="item.checked"
                                (nzCheckedChange)="refreshStatus($event, item)">
                            </label>
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.position}}</td>
                        <td>{{item.mobile}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <!-- 功能按钮 -->
    <div class="custom-modal-footer" style="text-align: right;">
        <div class="custom-modal-footter-group">
            <button nz-button type="button" (click)="cancel()">
                取消
            </button>
            <button nz-button [nzType]="'primary'" [disabled]="isTableLoading" type="button" (click)="ok()">
                保存
            </button>
        </div>
    </div>
</div>