<div class="padding-bottom-45">
  <div class="modal-header">
    <div class="modal-title">{{title}}</div>
  </div>
  <form nz-form [formGroup]="form" #validateForm="ngForm" (ngSubmit)="save()" *ngIf="systemData">
    <nz-form-item nz-row *ngIf="modelId==3">
      <nz-form-label nz-col [nzSm]="5" nzRequired nzFor="type">配置类型</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-select formControlName="type" [nzPlaceHolder]="'配置类型'" [(ngModel)]="systemData.type" [nzShowSearch]="true"
          style="width:100%;">
          <nz-option *ngFor="let i of configType" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="(form.get('type')?.dirty && form.get('type')?.errors)">请选择配置类型
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" nzRequired nzFor="code">编码</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <input nz-input formControlName="code" [(ngModel)]="systemData.code">
        <nz-form-explain *ngIf="(form.get('code')?.dirty && form.get('code')?.errors)">请输入编码
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="desc">配置项</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <input nz-input formControlName="desc" [(ngModel)]="systemData.desc">
        <nz-form-explain *ngIf="(form.get('desc')?.dirty && form.get('desc')?.errors)">字符长度小于等于500
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="remark">备注</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <input nz-input formControlName="remark" [(ngModel)]="systemData.remark">
        <nz-form-explain *ngIf="(form.get('remark')?.dirty && form.get('remark')?.errors)">字符长度小于等于500
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24" nzFor="seq">序号</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <input nz-input formControlName="seq" [(ngModel)]="systemData.seq">
        <nz-form-explain *ngIf="(form.get('seq')?.dirty && form.get('seq')?.errors)">请输入数字</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button type="button" [disabled]="saving" (click)="close()">
        {{l("取消")}}
      </button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
        保存
      </button>
    </div>
  </form>
</div>
