<div nz-row>
    <div nz-col nzSpan="18" style="padding-right:10px;">
        <nz-input-group nzSearch [nzSuffix]="suffixButton">
            <input type="text" [(ngModel)]="keyWord" nz-input placeholder="标准名称/编号">
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="default" [nzLoading]="isTableLoading" (click)="refreshData(true)"
                nzSearch>搜索</button>
        </ng-template>
    </div>
    <div nz-col nzSpan="6" style="text-align:center;">
        <button nz-button nzType="default" (click)="download()" [nzLoading]="downloading"><i
                class="anticon anticon-download"></i>下载二维码</button>
        <button nz-button (click)="create()" nzShape="circle" nzType="primary">
            <i class="anticon anticon-plus"></i>
        </button>
        <a style="display: none;" id="aDocZipUrl" href="#">
            <button type="button" id="btnDocZipHref">隐藏下载</button>
        </a>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <ng-template #totalTemplate let-total>共 {{totalItems}} 条</ng-template>
        <nz-table #nzTable [nzFrontPagination]="false" [nzShowTotal]="totalTemplate" [nzTotal]="totalItems"
            [nzData]="dataList" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading"
            [nzShowSizeChanger]="true" (nzPageIndexChange)="refreshData()" (nzPageSizeChange)="refreshData()">
            <thead>
                <tr>
                    <th>标准编号</th>
                    <th>标准名称</th>
                    <th>标准分类</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of nzTable.data">
                    <td>{{item.docNo}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.categoryDesc}}</td>
                    <!-- <td>
                        <nz-badge *ngIf="item.isPublish" [nzStatus]="'success'" [nzText]="'已发布'"></nz-badge>
                        <nz-badge *ngIf="!item.isPublish" [nzStatus]="'default'" [nzText]="'未发布'"></nz-badge>
                    </td> -->
                    <td>{{item.publishTime | date: "yyyy-MM-dd"}}</td>
                    <td><a (click)="edit(item)">详情</a></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>