<page-header style="text-align: center;" title={{docInfo.name}}></page-header>
<nz-card [nzBordered]="false" *ngIf="docInfo" class="info_card_margin">
    <!-- <div nz-row nzGutter="16" style="margin-bottom: 16px;"> -->
    <!-- <div nz-col nzXs="24" nzSm="18"> -->
    <sv-container size="small" col="3" class="mb-md">
        <sv label="标准编号">{{docInfo.docNo}}</sv>
        <sv label="标准文档">
            <a title="预览" (click)="goPre(docInfo.id)"> {{docInfo.name}}
            </a>
        </sv>
        <sv label="归口部门">{{docInfo.deptName}}</sv>
        <sv label="标准分类">{{docInfo.categoryDesc}}</sv>
        <sv label="标准状态"><label style="color:red">[受控,现行有效]</label></sv>
        <sv label="发布时间">{{docInfo.publishTime| date: "yyyy-MM-dd"}}</sv>
    </sv-container>
    <!-- </div> -->
    <!-- </div> -->
    <div nz-row>
        <div nz-row [nzGutter]="24">
            <div nz-col *ngIf="!isApply && !editMode && !isRevision && !isRevisionWaitTime" [nzSpan]="7" class="mb-md">
                <nz-alert nzType="info" nzMessage="您的制修废申请已提交，审批通过后方可进行制修废操作" nzShowIcon></nz-alert>
            </div>
            <div nz-col *ngIf="!isApply && editMode && isRevision && !isRevisionWaitTime" [nzSpan]="11" class="mb-md">
                <nz-alert nzType="success" nzMessage="您的制修订申请已通过，请进行制修订操作（注：修订后的条款将暂存至‘已修订列表’中，请前往提交）" nzShowIcon>
                </nz-alert>
            </div>
            <div nz-col *ngIf="isRevisionWaitTime" [nzSpan]="7" class="mb-md">
                <nz-alert nzType="info" nzMessage="您制修订的内容申请已提交，审批通过后标准将会自动更新" nzShowIcon>
                </nz-alert>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md" [class.text-right]="'true'" style="float:right">
                <button *ngIf="isConfirm && !editMode && !isRevisionWaitTime" nz-button type="button"
                    (click)="resetChange()" nzType="primary">
                    <span>重新确认条款</span>
                </button>
                <button *ngIf="isApply && !editMode && !isRevision" nz-button type="button" (click)="docApply()">
                    <i nz-icon type="form"></i>
                    <span>制修废申请</span>
                </button>
                <button *ngIf="editMode" nz-button type="button" (click)="revisedList()">
                    <i nz-icon type="form"></i>
                    <span>已修订列表</span>
                </button>
                <button *ngIf="editMode" nz-button type="button" (click)="editDetail()" nzType="primary">
                    <i class="anticon anticon-plus"></i>
                    <span>添加条款</span>
                </button>
            </div>
        </div>
        <nz-table #expandTable [nzData]="listOfMapData" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th *ngIf="!isConfirm && !editMode && !isRevisionWaitTime" nzWidth="50px">
                        <!-- <label nz-checkbox [(ngModel)]="isSelectedAll" (ngModelChange)="checkAll($event)">
                        </label> -->
                    </th>
                    <th>条款编号</th>
                    <th nzWidth="20%">条款标题</th>
                    <th nzWidth="50%">条款内容</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of expandTable.data">
                    <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
                        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent"
                            [ngClass]="{ 'true': item.checked == true}">
                            <td *ngIf="!isConfirm && !editMode && !isRevisionWaitTime" style="text-align: right;">
                                <label nz-checkbox [(ngModel)]="item.checked"
                                    (ngModelChange)="isCancelCheck($event,item.id)">
                                </label>
                            </td>
                            <td [nzIndentSize]="item.level * 20" [nzShowExpand]="item.children.length>0"
                                [(nzExpand)]="item.expand"
                                (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)">
                                {{ item.clauseNo }}
                                <!-- <nz-tag [nzColor]="'red'">已确认</nz-tag> -->
                            </td>
                            <td>{{ item.title | lengthLimit:20}}</td>
                            <td>
                                <label *ngIf="item.isNew" style="color: red;">
                                    new
                                </label>{{ item.content| lengthLimit:50 }}
                            </td>
                            <td>
                                <a *ngIf="!editMode" (click)="showDetail(item.id)">阅读学习</a>
                                <a *ngIf="editMode" (click)="editDetail(item,'detail')">修订</a>
                                <nz-divider *ngIf="editMode" nzType="vertical"></nz-divider>
                                <a *ngIf="editMode" (click)="editDetail(item,'child')">添加子条款</a>
                                <nz-divider *ngIf="editMode" nzType="vertical"></nz-divider>
                                <a style="color:#ff4d4f;" *ngIf="editMode" (click)="deleteDetail(item)">删除</a>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <footer-toolbar>
        <button nz-button [nzType]="'default'" (click)="return()">
            返回
        </button>
        <button *ngIf="!isConfirm && !editMode && listOfMapData.length>0 && !isRevisionWaitTime" nz-button
            [nzType]="'primary'" type="button" [nzLoading]="saving" (click)="confirmClause()">
            确认条款
        </button>
        <!-- <button *ngIf="editMode && isSaveApply" nz-button [nzType]="'primary'" type="button" [nzLoading]="saving"
            (click)="saveRevised()">
            提交制修订
        </button> -->
    </footer-toolbar>
</nz-card>