<nz-tabset>
    <nz-tab nzTitle="日常点检">
        <in-storage-record></in-storage-record>
    </nz-tab>
    <nz-tab nzTitle="到货单证">
        <ng-template nz-tab>
            <in-storage-record></in-storage-record>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="入库扫码">
        <ng-template nz-tab>
            <in-storage-record></in-storage-record>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="卷烟入库验收质量问题处理登记表">
        <ng-template nz-tab>
            <in-storage-record></in-storage-record>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="入库记录">
        <ng-template nz-tab>
            <in-storage-record></in-storage-record>
        </ng-template>
    </nz-tab>
</nz-tabset>