<page-header title="修改主页信息"></page-header>
<nz-card [nzBordered]="false" class="info_card_margin">
    <div nz-row>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6" class="mb-md" [class.text-right]="'true'" style="float:right">
                <button nz-button type="button" (click)="upload()">
                    <i nz-icon type="plus"></i>
                    <span>批量导入工作职责</span>
                </button>
                <button nz-button type="button" (click)="create()" nzType="primary">
                    <i class="anticon anticon-plus"></i>
                    <span>添加工作职责</span>
                </button>
            </div>
        </div>
        <nz-table #expandTable [nzData]="listOfMapData" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th>工作职责</th>
                    <th nzWidth="20%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listOfMapData">
                    <td>
                        {{item.duties}}
                    </td>
                    <td>
                        <a (click)="editPosition(item.id)">编辑</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="showDetail(item.id)">添加适用标准</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a style="color:#ff4d4f;" (click)="delete(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <footer-toolbar>
        <button nz-button [nzType]="'default'" (click)="return()">
            返回
        </button>
    </footer-toolbar>
</nz-card>