<page-header title="合理化建议公示"></page-header>
<nz-card>
  <div nz-row [nzGutter]="18">
    <div nz-col [nzSpan]="8" class="mb-md right" [class.text-right]="'true'" style="float: right;">
      <button nz-button type="button" (click)="myAdvice()">
        <i nz-icon type="form"></i>
        <span>我的建议</span>
      </button>
      <button [acl]="'QiGuanAdmin'" nz-button type="button" (click)="goManagement()">
        <i nz-icon type="eye"></i>
        <span>公示管理</span>
      </button>
    </div>
  </div>
  <ng-template #totalTemplate let-total>共 {{totalItems}} 条</ng-template>
  <nz-table #nzTable [nzFrontPagination]="false" [nzShowTotal]="totalTemplate" [nzTotal]="totalItems"
    [nzData]="dataList" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading"
    [nzShowSizeChanger]="true" (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()">
    <thead>
      <tr>
        <th>建议名称</th>
        <th>现状描述</th>
        <th>对策建议</th>
        <th>采纳结果</th>
        <th>申报日期</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of nzTable.data">
        <td>{{item.adviseName | lengthLimit:15}}</td>
        <td>{{item.currentSituation | lengthLimit:15}}</td>
        <td>{{item.solution | lengthLimit:15}}</td>
        <td>
          <nz-badge *ngIf="!item.isAdoption" nzStatus="error" nzText="未采纳"></nz-badge>
          <nz-badge *ngIf="item.isAdoption" nzStatus="success" nzText="已采纳"></nz-badge>
        </td>
        <td>{{item.creationTime | _date: 'YYYY-MM-DD'}}</td>
        <td>
          <a (click)="goDetail(item.id)">详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>