<div class="padding-bottom-45">
    <h3>
        <span>预览下载</span>
    </h3>
    <form nz-form>
        <nz-form-item>
            <label>{{text}}</label>
        </nz-form-item>
        <!-- 分类名称 -->
        <nz-form-item style="text-align:center;margin-bottom:0px;">
            <label>{{pname}}</label>
        </nz-form-item>
        <nz-form-item>
        </nz-form-item>
        <nz-form-item>
            <div nz-col [nzSpan]="8" class="text-center" style="width:100%;">
                <div [style.display]="codeStyle">
                    <qr id="abc" [value]="qrCode.value" [background]="qrCode.background"
                        [backgroundAlpha]="qrCode.backgroundAlpha" [foreground]="qrCode.foreground"
                        [foregroundAlpha]="qrCode.foregroundAlpha" [level]="qrCode.level" [mime]="qrCode.mime"
                        [padding]="qrCode.padding" [size]="qrCode.size" style="border:1px solid #999">
                    </qr>
                </div>
            </div>
        </nz-form-item>
        <!-- 功能按钮 -->
        <div class="custom-modal-footer">
            <div class="custom-modal-footter-group">
                <button nz-button type="button" (click)="close()">
                    取消
                </button>
                <button nz-button [nzType]="'primary'" type="button" (click)="submit()">
                    下载
                </button>
            </div>
        </div>
    </form>
</div>