<div nz-row style="text-align:right;">
    <button nz-button [acl]="'QiGuanAdmin'" type="button" (click)="qgAdminRecord()" nzType="primary">
        <i nz-icon type="crown"></i>
        <span>企管科管理员考核记录</span>
    </button>
    <button nz-button type="button" (click)="examineRecord()" nzType="primary">
        <i nz-icon type="profile"></i>
        <span>部门考核记录</span>
    </button>
    <button nz-button type="button" *ngIf="dept.isCurDept" (click)="internalExa(1)">
        <i nz-icon type="user"></i>
        <span>部门内部考核</span>
    </button>
    <button nz-button type="button" *ngIf="!dept.isCurDept" (click)="internalExa(2)">
        <i nz-icon type="usergroup-add"></i>
        <span>部门考核</span>
    </button>
    <button nz-button type="button" *ngIf="isCountryDept" (click)="internalExa(1)">
        <i nz-icon type="usergroup-add"></i>
        <span>考核岗位人员</span>
    </button>
    <!-- <button nz-button type="button" (click)="qiGuanExa()">
        <i nz-icon type="audit"></i>
        <span>企管科管理员考核</span>
    </button>
    <button nz-button type="button" (click)="subordinateExa()">
        <i nz-icon type="audit"></i>
        <span>县局管理员考核</span>
    </button> -->
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #nzTable [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="empList"
            [nzLoading]="loading" [nzScroll]="{ y: '720px' }">
            <thead>
                <tr>
                    <th *ngIf="dept.isCurDept || isCountryDept" style="text-align: right;">
                        <label nz-checkbox [(ngModel)]="isSelectedAll" (ngModelChange)="checkAll($event)">
                        </label>
                    </th>
                    <th nzWidth="25%">姓名</th>
                    <th nzWidth="25%">职位</th>
                    <th nzWidth="25%">电话号码</th>
                    <th nzWidth="10%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of nzTable.data">
                    <td *ngIf="dept.isCurDept || isCountryDept" style="text-align: right;">
                        <label nz-checkbox [(ngModel)]="item.checked" (nzCheckedChange)="isCancelCheck($event)">
                        </label>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.position}}</td>
                    <td>{{item.mobile}}</td>
                    <td>
                        <a (click)="empRecord(item.id)">考核记录</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div style="float: right;margin-top: 5px;font-size: 14px;">
            共 {{!empList?0:empList.length}} 条
        </div>
    </div>
</div>