<div class="padding-bottom-45">
    <h3 style="text-align: center;">
        <span>{{title}}</span>
    </h3>
    <nz-alert nzType="info" nzMessage="请选择要考核的部门名称" nzShowIcon></nz-alert>
    <div nz-row>
        <div nz-col nzSpan="6">
            <nz-spin nzSimple [nzSize]="'small'" *ngIf="!nodes || nodes.length == 0"></nz-spin>
            <nz-tree #detpTree [(ngModel)]="nodes" (nzClick)="activeNode($event)" [nzDefaultExpandAll]="true">
            </nz-tree>
        </div>
    </div>
    <div class="custom-modal-footer" style="text-align: right;">
        <div class="custom-modal-footter-group">
            <button nz-button type="button" (click)="close()">
                返回
            </button>
        </div>
    </div>
</div>