<div class="padding-bottom-45">
    <h3 style="text-align: center;">
        <span>{{title}}</span>
    </h3>
    <form nz-form #validateForm="ngForm" (ngSubmit)="submit()" *ngIf="clause">
        <nz-form-item *ngIf="!id" nz-row style="margin-bottom:0px;">
            <nz-form-label *ngIf="pNo" nz-col [nzSm]="4" nzRequired>上级编号</nz-form-label>
            <nz-form-control [nzSm]="20" style="float:right;">
                <label *ngIf="pNo">{{pNo}}</label>
                <nz-alert *ngIf="!pNo" nzType="info" nzMessage="一级条款" nzShowIcon></nz-alert>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row style="margin-bottom:12px;">
            <nz-form-label nz-col [nzSm]="4" nzRequired>所属标准</nz-form-label>
            <nz-form-control [nzSm]="20">
                <label>{{docName}}</label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4" nzRequired>条款编号</nz-form-label>
            <nz-form-control [nzSm]="20" nzHasFeedback>
                <input nz-input name="clauseNo" maxlength="100" #clauseNo="ngModel" [(ngModel)]="clause.clauseNo"
                    [placeholder]="'请填写标准编号'" pattern="^[1-9][\.\d]*$" required>
                <nz-form-explain *ngIf="clauseNo.control.dirty&&clauseNo.control.errors">
                    <ng-container *ngIf="clauseNo.control.hasError('required')">请填写条款编号</ng-container>
                    <ng-container *ngIf="clauseNo.control.hasError('maxlength')">字符长度小于等于100</ng-container>
                    <ng-container *ngIf="clauseNo.control.hasError('pattern')">请输入正确的编号格式</ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4">条款标题</nz-form-label>
            <nz-form-control [nzSm]="20">
                <input nz-input name="title" maxlength="500" #title="ngModel" [(ngModel)]="clause.title"
                    [placeholder]="'请填写标准标题'">
                <nz-form-explain *ngIf="title.control.dirty&&title.control.errors">
                    <ng-container *ngIf="title.control.hasError('required')">请填写条款标题</ng-container>
                    <ng-container *ngIf="title.control.hasError('maxlength')">字符长度小于等于500</ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4">条款内容</nz-form-label>
            <nz-form-control [nzSm]="20" nzHasFeedback>
                <textarea nz-input rows="13" name="content" maxlength="2000" #content="ngModel"
                    [(ngModel)]="clause.content" [placeholder]="'请填写条款内容'"></textarea>
                <nz-form-explain *ngIf="content.control.dirty&&content.control.errors">
                    <ng-container *ngIf="content.control.hasError('maxlength')">字符长度小于等于2000</ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4" nzFor="attach">标准附件</nz-form-label>
            <nz-form-control [nzSm]="20">
                <nz-upload nzAction="{{postUrl | hostUrl}}" [nzFileList]="fileList" (nzChange)="handleChange($event)"
                    [nzRemove]="deleteAttachment">
                    <button nz-button type="button"><i nz-icon nzType="upload"></i><span>上传附件</span></button>
                </nz-upload>
            </nz-form-control>
        </nz-form-item> -->
        <nz-form-item nz-row>
            <div nz-col [nzSm]="4"></div>
            <nz-form-control [nzSm]="20">
                <nz-upload style="float:right;" [nzDisabled]="uploadLoading" nzAction="{{postUrl | hostUrl}}"
                    [nzShowUploadList]="false" (nzChange)="handleChange($event)" [nzBeforeUpload]="beforeUpload">
                    <div nz-button nzType="default" style="padding-top: 5px">
                        <i nz-icon type="cloud-upload" class="anticon anticon-upload"></i><span>上传附件</span>
                    </div>
                </nz-upload>
                <nz-list class="demo-loadmore-list" [nzDataSource]="attachmentList" [nzItemLayout]="'horizontal'"
                    nzHeader="附件列表" [nzRenderItem]="item" style="margin-top: 40px;">
                    <ng-template #item let-item>
                        <nz-list-item style="padding-top: 2px;padding-bottom: 2px;" [nzActions]="[delete]">
                            <ng-template #delete><a style="color:#ff4d4f;" (click)="deleteAttachment(item.uid)">删除</a>
                            </ng-template>
                            <nz-list-item-meta style="text-align: left;" [nzDescription]="nzDescription">
                            </nz-list-item-meta>
                            <ng-template #nzDescription>
                                <a href="{{item.fileUrl | hostUrl}}" target="_blank">"{{item.name}}"</a>
                            </ng-template>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
            </nz-form-control>
        </nz-form-item>
        <div class="custom-modal-footer" style="text-align: right;">
            <div class="custom-modal-footter-group">
                <button nz-button type="button" [disabled]="saving" (click)="close()">
                    取消
                </button>
                <button nz-button [nzType]="'primary'" type="button" (click)="submit()"
                    [disabled]="!validateForm.valid ||saving">
                    保存
                </button>
            </div>
        </div>
    </form>
</div>