<div class="padding-bottom-45">
    <h3 style="text-align: center;">
        <span>{{title}}</span>
    </h3>
    <div nz-row style="margin-bottom:24px;">
        <div nz-col nzSpan="24">
            <nz-table #nzTable [nzShowPagination]="false" [nzData]="dataList" [nzLoading]="isLoading"
                [nzScroll]="{ y: '480px' }">
                <thead>
                    <tr>
                        <th>所属标准</th>
                        <th>条款内容</th>
                        <th nzWidth="15%">考核对象</th>
                        <th nzWidth="10%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of nzTable.data">
                        <td>{{item.documentName}}</td>
                        <td>{{item.clauseInfo}}</td>
                        <td>{{item.employeeName}}</td>
                        <td>
                            <a (click)="remove(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <!-- 功能按钮 -->
    <div class="custom-modal-footer" style="text-align: right;">
        <div class="custom-modal-footter-group">
            <button nz-button type="button" [disabled]="saving" (click)="close()">
                取消
            </button>
            <button nz-button [nzType]="'primary'" type="button" (click)="publish()" [nzLoading]="isLoading">
                发布
            </button>
        </div>
    </div>
</div>