<page-header></page-header>
<nz-tabset (nzSelectedIndexChange)="selectedChange($event)">

  <nz-tab nzTitle="标准化工作平台">
    <form nz-form (ngSubmit)="getconfigs()" [nzLayout]="'inline'">
      <div nz-row [nzGutter]="24">
        <div nz-col nzOffset="20" [nzSpan]="4" class="mb-md" [class.text-right]="'true'">
          <button nz-button (click)="getconfigs()" nzShape="circle">
            <i class="anticon anticon-reload"></i>
          </button>
          <button nz-button (click)="create()" nzShape="circle" [nzType]="'primary'">
            <i class="anticon anticon-plus"></i>
          </button>
        </div>
      </div>
    </form>
    <st #st [columns]="configData" [data]="standardizations" [loading]="loading" [page]="pages"
      [total]="standardizationTotal" (change)="stChange($event)">
    </st>
  </nz-tab>
  <nz-tab nzTitle="物流中心">
    <form nz-form (ngSubmit)="getconfigs()" [nzLayout]="'inline'">
      <div nz-row [nzGutter]="24">
        <div nz-col nzOffset="20" [nzSpan]="4" class="mb-md" [class.text-right]="'true'">
          <button nz-button (click)="getconfigs()" nzShape="circle">
            <i class="anticon anticon-reload"></i>
          </button>
          <button nz-button (click)="create()" nzShape="circle" [nzType]="'primary'">
            <i class="anticon anticon-plus"></i>
          </button>
        </div>
      </div>
    </form>
    <st #st [columns]="configData" [data]="logisticss" [loading]="loading" [page]="pages" [total]="logisticsTotal"
      (change)="stChange($event)">
    </st>
  </nz-tab>
  <nz-tab nzTitle="钉钉配置">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4" class="mb-md">
        <ul nz-menu [nzMode]="'inline'">
          <li *ngFor="let item of configDing" nz-menu-item [nzSelected]="item.selected"
            (click)="checkChangeconfigDing(item.value)">{{item.text}}</li>
        </ul>
      </div>
      <div nz-col [nzSpan]="20" class="mb-md">
        <form nz-form (ngSubmit)="getconfigs()" [nzLayout]="'inline'">
          <div nz-row [nzGutter]="24">
            <div nz-col nzOffset="20" [nzSpan]="4" class="mb-md" [class.text-right]="'true'">
              <button nz-button (click)="getconfigs()" nzShape="circle">
                <i class="anticon anticon-reload"></i>
              </button>
              <button nz-button (click)="create()" nzShape="circle" [nzType]="'primary'">
                <i class="anticon anticon-plus"></i>
              </button>
            </div>
          </div>
        </form>
        <st #st [columns]="configData" [data]="query.data" [loading]="loading" [page]="pages" [total]="query.total"
          (change)="stChange($event)">
        </st>
      </div>

    </div>
  </nz-tab>
</nz-tabset>