<div nz-row>
    <form nz-form (ngSubmit)="refreshData()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6" class="mb-md">
                <nz-form-item class="d-flex" style="margin-bottom: 0px;">
                    <nz-form-label nzFor="month">时间范围</nz-form-label>
                    <nz-form-control class="flex-1">
                        <nz-range-picker name="dateRange" [(ngModel)]="dateRange" [nzFormat]="timeFormat"
                            (ngModelChange)="changeTime($event)">
                        </nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md right" [class.text-right]="'true'" style="float: right;">
                <nz-form-item class="d-flex" style="margin-right: 0px;margin-bottom: 0px;">
                    <nz-form-control class="flex-1">
                        <button nz-button type="button" (click)="refreshData()" nzType="primary"
                            [nzLoading]="isTableLoading">
                            查询</button>
                        <button nz-button type="button" (click)="reset()" class="mx-sm">重置</button>
                        <a style="display: none;" id="exportUrl" href="#">
                            <button type="button" id="btnExportHref">隐藏下载</button>
                        </a>
                        <button nz-button type="button" (click)="export()" [nzLoading]="exportLoading">
                            <i class="anticon anticon-download"></i>
                            <span>导出</span>
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    <ng-template #totalTemplate let-total>共 {{totalItems}} 条</ng-template>
    <nz-table #nzTable nzSize="middle" nzBordered
        [nzWidthConfig]="['100px','100px','100px','100px','100px','100px','100px','100px',null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]"
        [nzFrontPagination]="false" [nzShowTotal]="totalTemplate" [nzTotal]="totalItems" [nzData]="dataList"
        [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" [nzShowSizeChanger]="true"
        (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()">
        <thead>
            <tr>
                <th colspan="8" nzLeft="0px">基本信息</th>
                <th colspan="6">使用前点检</th>
                <th colspan="4">运行中检查</th>
                <th colspan="4">停用后检查</th>
            </tr>
            <tr>
                <th>创建时间</th>
                <th>创建人</th>
                <th>设备编号</th>
                <th>责任人</th>
                <th>监管人</th>
                <!-- <th>运行时间</th> -->
                <th>开机时间</th>
                <th>停机时间</th>
                <th>各部位润滑是否正常</th>
                <th>蓄电池接线有无腐蚀、松动</th>
                <th>转向、制动是否灵活</th>
                <th>车灯、喇叭是否正常</th>
                <th>电量是否充足</th>
                <th>货叉升降是否正常</th>
                <th>电量是否满足</th>
                <th>刹车、喇叭有无异常</th>
                <th>货叉升降有无异常</th>
                <th>运行声音有无异响</th>
                <th>停放是否规范到位</th>
                <th>制动是否拉紧、电源是否关闭</th>
                <th>是否需要补充电量</th>
                <th>各部位是否进行清洁</th>
                <th>故障描述和处理</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of nzTable.data">
                <td>{{item.creationTime | _date}}</td>
                <td>{{item.employeeName}}</td>
                <td>{{item.equiNo}}</td>
                <td>{{item.responsibleName}}</td>
                <td>{{item.supervisorName}}</td>
                <!-- <td>{{item.runTime | _date}}</td> -->
                <td>{{item.beginTime | _date}}</td>
                <td>{{item.endTime | _date}}</td>
                <td>{{item.islubricatingOk == 1?'是':'否'}}</td>
                <td>{{item.isBatteryBad == 1?'有':'无'}}</td>
                <td>{{item.isTurnOrBreakOk == 1?'是':'否'}}</td>
                <td>{{item.isLightOrHornOk == 1?'是':'否'}}</td>
                <td>{{item.isFullCharged == 1?'是':'否'}}</td>
                <td>{{item.isForkLifhOk == 1?'是':'否'}}</td>
                <td>{{item.isRunFullCharged == 1?'有':'无'}}</td>
                <td>{{item.isRunTurnOrBreakOk == 1?'有':'无'}}</td>
                <td>{{item.isRunLightOrHornOk == 1?'有':'无'}}</td>
                <td>{{item.isRunSoundOk == 1?'是':'否'}}</td>
                <td>{{item.isParkStandard == 1?'是':'否'}}</td>
                <td>{{item.isShutPower == 1?'是':'否'}}</td>
                <td>{{item.isNeedCharge == 1?'是':'否'}}</td>
                <td>{{item.isClean == 1?'是':'否'}}</td>
                <td>{{item.troubleshooting == 1?'是':'否'}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>