<page-header style="text-align: center;" title="合理化建议申报审批表"></page-header>
<nz-card [nzBordered]="false" *ngIf="advise" class="info_card_margin">
  <sv-container size="small" col="1" class="mb-md">
    <sv label="单位(部门)">{{advise.deptName}}</sv>
    <sv label="建议人">{{advise.employeeName}}
    </sv>
    <sv label="是否采纳">
      <nz-badge *ngIf="advise.isAdoption==false" nzStatus="error" nzText="否"></nz-badge>
      <nz-badge *ngIf="advise.isAdoption==true" nzStatus="success" nzText="是"></nz-badge>
    </sv>
    <sv label="申报日期">{{advise.creationTime| date: "yyyy-MM-dd"}}</sv>
    <sv label="建议名称">{{advise.adviseName}}</sv>
    <sv label="现状描述">{{advise.currentSituation}}</sv>
    <sv label="对策建议">{{advise.solution}}</sv>
    <sv label="评审意见">{{advise.reviewOpinion}}</sv>
    <sv label="领导审批意见">{{advise.approvalComments}}</sv>

  </sv-container>
  <footer-toolbar>
    <button nz-button [nzType]="'default'" (click)="return()">
      返回
    </button>
    <!-- <button *ngIf="editMode && isSaveApply" nz-button [nzType]="'primary'" type="button" [nzLoading]="saving"
            (click)="saveRevised()">
            提交制修订
        </button> -->
  </footer-toolbar>
</nz-card>
