<div class="padding-bottom-45">
    <h3 style="text-align: center;">
        <span>适用标准及要点详情</span>
    </h3>
    <form nz-form #validateForm="ngForm" (ngSubmit)="save()" *ngIf="positionInfoId">
        <!-- <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4" nzRequired>适用标准</nz-form-label>
            <nz-form-control [nzSm]="20" nzHasFeedback>
                <nz-select nzAllowClear name="optionGroup" #optionGroup="ngModel" required [(ngModel)]="docId"
                    nzPlaceHolder="请选择适用标准">
                    <nz-option-group *ngFor="let item of optionGroups" nzLabel="{{item.title}}">
                        <nz-option *ngFor="let option of item.children" nzValue="{{option.id}}"
                            nzLabel="{{option.title}}"></nz-option>
                    </nz-option-group>
                    <nz-form-explain *ngIf="optionGroup.control.dirty&&optionGroup.control.errors">
                        <ng-container *ngIf="optionGroup.control.hasError('required')">请选择适用标准</ng-container>
                    </nz-form-explain>
                </nz-select>
            </nz-form-control>
        </nz-form-item> -->
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4" nzRequired>适用标准</nz-form-label>
            <nz-form-control [nzSm]="20">
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                    <input readonly="readonly" required name="docName" #docName="ngModel" [(ngModel)]="doc.name"
                        nz-input placeholder="请选择适用标准">
                    <ng-template #suffixIconButton>
                        <button nz-button type="button" nzType="primary" (click)="chooseDoc()" nzSearch>选择标准</button>
                    </ng-template>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4">实施要点</nz-form-label>
            <nz-form-control [nzSm]="20" nzHasFeedback>
                <textarea name="mainPoints" nz-input rows="5" placeholder="请填写实施要点及记录" #mainPoints="ngModel"
                    [(ngModel)]="mainPoint"></textarea>
                <nz-form-explain *ngIf="mainPoints.control.dirty&&mainPoints.control.errors">
                    <ng-container *ngIf="mainPoints.control.hasError('maxlength')">字符长度小于等于2000</ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <div class="modal-footer">
            <button nz-button type="button" [disabled]="saving" (click)="close()">
                取消
            </button>
            <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
                保存
            </button>
        </div>
    </form>