<div nz-row style=" padding-bottom:10px;">
    <div nz-col nzSpan="15" style="padding-right:10px; ">
        归口部门：{{deptName}}
    </div>
    <div nz-col nzSpan="9" style="text-align:center;">
        <button nz-button type="button" (click)="create('click')" nzType="primary">添加分类</button>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <div *ngIf="nodes && nodes.length > 0">
            <nz-tree #treeCom [nzData]="nodes" nzMultiple="true" (nzClick)="activeNode($event)"
                [nzSearchValue]="searchName" (nzSearchValueChange)="nzEvent($event)" (nzDblClick)="openFolder($event)">
                <ng-template #contextTemplate>
                    <ul nz-menu nzInDropDown>
                        <li nz-menu-item (click)="edit()">修改分类</li>
                        <!-- <li nz-menu-item (click)="create('r-key')">新建子类</li> -->
                        <!-- <li nz-menu-item (click)="qrCodeDetail('r-key')">预览下载</li> -->
                        <li nz-menu-item style="color:#ff4d4f;" (click)="deleteCate()">删除分类</li>
                    </ul>
                </ng-template>
                <ng-template #nzTreeTemplate let-node>
                    <span class="custom-node" [class.active]="activedNode?.key===node.key">
                        <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate,node)">
                            <i class="anticon" [ngClass]="node.isExpanded ? 'anticon-folder-open' : 'anticon-folder'"
                                (click)="openFolder(node)"></i>
                            <span class="folder-name" [innerHTML]="node.title | keyHighlight: searchName"></span>
                        </span>
                        <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate,node)">
                            <i class="anticon anticon-folder"></i>
                            <span class="file-name" [innerHTML]="node.title | keyHighlight: searchName"></span>
                        </span>
                    </span>
                </ng-template>
            </nz-tree>
        </div>
        <div *ngIf="!nodes || nodes.length == 0"
            style="width:100%; text-align:left; padding-top: 15px; padding-bottom: 15px; color: grey;">
            没有分类数据，点击“添加分类”进行添加
        </div>
    </div>
</div>