<page-header [title]=""></page-header>
<nz-card>
    <div nz-row>
        <div nz-col nzSpan="4">
            <nz-spin nzSimple [nzSize]="'small'" *ngIf="!nodes || nodes.length == 0"></nz-spin>
            <nz-tree #detpTree [(ngModel)]="nodes" (nzClick)="activeNode($event)" [nzDefaultExpandAll]="true">
            </nz-tree>
        </div>
        <div nz-col nzSpan="5">
            <category #docCategory *ngIf="selectedDept" [deptId]="selectedDept.id" [deptName]="selectedDept.name"
                (selectedCategory)="onSelectedCategory($event)"></category>
        </div>
        <div nz-col nzSpan="15">
            <list #docList></list>
        </div>
    </div>
</nz-card>