<div class="padding-bottom-45">
    <h3 style="text-align: center;">
        <span>添加工作职责</span>
    </h3>
    <form nz-form #validateForm="ngForm" *ngIf="positionInfo" (ngSubmit)="save()">
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4">工作职责</nz-form-label>
            <nz-form-control [nzSm]="20" nzHasFeedback>
                <textarea nz-input rows="4" name="duties" required maxlength="2000" #duties="ngModel"
                    [(ngModel)]="positionInfo.duties" [placeholder]="'请填写工作职责'"></textarea>
                <nz-form-explain *ngIf="duties.control.dirty&&duties.control.errors">
                    <ng-container *ngIf="duties.control.hasError('required')">请填写工作职责</ng-container>
                    <ng-container *ngIf="duties.control.hasError('maxlength')">字符长度小于等于2000</ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <div class="modal-footer">
            <button nz-button type="button" [disabled]="saving" (click)="close()">
                取消
            </button>
            <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
                保存
            </button>
        </div>
    </form>
</div>